@import "./base/reset";
@import "./helper/variable";
@import "./helper/mixin";
@import "./base/base";
@import "./components/product_item";
@import "./layout/product";
// html
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.button_shop {
  @include styleButton(white, $color-blue-100, true, $box-shadow);
}
body {
  background-color: $bg-background;
}
header {
  padding: 30px 0;
  box-shadow: $box-shadow;
  margin-bottom: 5px;
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
    }
    .header_logo {
      @include styleText(bold, $color-blue-100, $fs-logo);
    }
    nav {
      @media screen and (max-width: 576px) {
        display: none;
      }
      ul {
        list-style: none;
        display: flex;
        li {
          margin-right: 20px;
          a {
            @include styleText(400, $color-blue-200);
            transition: all 0.5s;
            position: relative;
            &::before {
              content: "";
              width: 0;
              height: 3px;
              background-color: $color-blue-100;
              display: block;
              position: absolute;
              left: 0;
              bottom: -10px;
              transition: all 0.5s;
            }
          }

          &.active {
            a {
              color: $color-blue-100;
              &::before {
                width: 100%;
              }
            }
          }

          &:hover {
            a {
              color: $color-blue-100;
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.banner {
  background-image: url("../image/product-header-bg.jpg");
  @include styleBg-img(no-repeat, cover);
  background-position: center bottom;
  padding-top: 50px 0;
  height: 80vh;

  .banner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .banner_text {
      width: 50%;
      p {
        color: $color-blue-200;
      }
      h1 {
        @include styleText(bold, $color-blue-100, $fs-title-1);
      }
      .banner_sub_title {
        @include styleText(bold, $color-blue-200, $fs-sub-title);
        margin: 15px 0;
      }
      .banner_group_button {
        margin-top: 10px;

        .button_more_info {
          @include styleButton($color-blue-100, white);
        }
      }
    }
    .banner_img {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// ultilities class
// fs
@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: ($i) px;
  }
}
