// variable
$bg-background: #f6f9fe;
$color-blue-100: #2a73dc;
$color-blue-200: #1d355e;
$color-yellow-100: #f9d310;
$color-text-white: #ffff;

$fs-logo: 24px;
$fs-title-1: 60px;
$fs-title-2: 34px;
$fs-title-3: 25px;
$fs-sub-title: 20px;
$fs-paragraph: 18px;

$box-shadow: 0 2px 4px #c8ccd4;
